.tree ul {
    /*margin-left: 20px;*/
    padding-left: 20px;
}

.tree li {
    list-style-type: none;
    margin:8px;
    position: relative;
    padding: 5px;
}

.tree li::before {
    content: "";
    position: absolute;
    top:-5px;
    left:-16px;
    border-left: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-radius:0 0 0 0px;
    width:20px;
    height:15px;
}

.tree li::after {
    position:absolute;
    content:"";
    top:10px;
    left:-16px;
    border-left: 1px solid #ccc;
    border-top:1px solid #ccc;
    border-radius:0px 0 0 0;
    width:20px;
    height:100%;
}

.tree li:last-child::after  {
    display:none;
}

.tree li:last-child:before{
    border-radius: 0 0 0 5px;
}

ul.tree>li:first-child::before {
    display:none;
}

ul.tree>li:first-child::after {
    border-radius:5px 0 0 0;
}

.tree li a {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding:2px 5px;
}

.tree li a:hover, .tree li a:hover+ul li a,
.tree li a:focus, .tree li a:focus+ul li a {
    border: 1px solid #000;
}

li a:hover+ul li:before, li a:hover+ul li:after{
    border-color:black;
}
.right-pull-in {
    display: flex;
    width: 0;
    overflow: hidden;
    transition: all 1s ease;
}
.content-wrapper {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
}

.value {
    width: 100%;
}
.content-wrapper .key {
    color: #616161;
}

.content {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    margin: 10px ;
}

ul.tree {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    overflow: auto;
    justify-content: center;
    border-bottom: 0.5px solid #a1a1a1;
}

.more-info {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    font-size: 14px;
}

.right-pull-in span.close {
    order: 1;
}